.icc {
    color: orangered;
    scale: 5;
 
}



.fa-css3{
    color: rgb(0, 183, 255);
}

.fa-js{
    color: yellow;
}

.fa-bootstrap{
    color: rgb(119, 44, 215);
}

.fa-mdb {
    color: purple;
}

.fa-react{
    color: aqua;
}

.skills p {
    color: #fff;
}



/* progress bar start */


.progHtml {
    background-color: orange;
   
}


.progCss{
    background-color:rgb(0, 183, 255);
}

.progJs{
    background-color: yellow;
}

.progBt{
    background-color: rgb(119, 44, 215);
}

.progMdb {
    background-color: purple;
}

.progRet{
    background-color:  aqua;
}

.skills h4 {
    color: black;
    font-weight: 700;
}